Repository scroll-tech/scroll, pull requests merged in 2023-09, with the labels that each got.

#880 feat(rollup-relayer): add number of blocks per chunk limit
  common/version/version.go
  rollup/conf/config.json
  rollup/internal/config/l2.go
  rollup/internal/controller/watcher/batch_proposer.go
  rollup/internal/controller/watcher/batch_proposer_test.go
  rollup/internal/controller/watcher/chunk_proposer.go
  rollup/internal/controller/watcher/chunk_proposer_test.go
  rollup/tests/rollup_test.go
Labels: bump-version

#920 fix(gas-oracle): fetch base fee from the latest L1 block
  common/version/version.go
  rollup/cmd/gas_oracle/app/app.go
  rollup/internal/orm/l1_block.go
  rollup/internal/orm/orm_test.go
Labels: bump-version

#923 fix(l1-watcher): soft delete blocks when reorg
  common/version/version.go
  rollup/internal/orm/l1_block.go
  rollup/internal/orm/orm_test.go
Labels: bump-version

#928 docs(contracts): OZ-L01 Misleading Comment
  contracts/src/L2/gateways/usdc/L2USDCGateway.sol
Labels: documentation

#926 docs: fix link in readme
  README.md
Labels: documentation

#930 fix(contracts): OZ-N01 Unused Imports
  contracts/src/L1/gateways/L1ERC20Gateway.sol
  contracts/src/L1/gateways/usdc/L1USDCGateway.sol
  contracts/src/L2/gateways/usdc/L2USDCGateway.sol
Labels: bug

#933 fix: bump version
  common/version/version.go
Labels: bump-version

#934 fix(coordinator): decrease active attempts zero check
  common/version/version.go
  coordinator/internal/orm/batch.go
  coordinator/internal/orm/chunk.go
Labels: bump-version

#894 feat: libzkp `v0.8.1`
  common/libzkp/impl/Cargo.lock
  common/libzkp/impl/Cargo.toml
  common/libzkp/impl/Makefile
  common/libzkp/impl/src/batch.rs
  common/libzkp/impl/src/chunk.rs
  common/libzkp/impl/src/utils.rs
  common/version/version.go
  prover/core/prover_test.go
Labels: breaking-change, bump-version

#931 feat(prover, coordinator): update vk handling logic
  common/version/prover_version.go
  common/version/version.go
  coordinator/internal/logic/provertask/batch_prover_task.go
  coordinator/internal/logic/provertask/prover_task.go
  prover/core/mock.go
  prover/core/prover.go
  prover/prover.go
Labels: bump-version

#932 test(rollup-relayer): add chunk and batch proposer limit tests
  common/version/version.go
  rollup/internal/controller/watcher/batch_proposer.go
  rollup/internal/controller/watcher/batch_proposer_test.go
  rollup/internal/controller/watcher/chunk_proposer.go
  rollup/internal/controller/watcher/chunk_proposer_test.go
  rollup/internal/controller/watcher/watcher_test.go
Labels: bump-version

#939 refactor(rollup-relayer): change minGasLimit to fallbackGasLimit
  common/version/version.go
  rollup/conf/config.json
  rollup/internal/config/relayer.go
  rollup/internal/controller/relayer/l2_relayer.go
  rollup/internal/controller/relayer/l2_relayer_test.go
  rollup/internal/controller/sender/estimategas.go
  rollup/internal/controller/sender/sender.go
  rollup/internal/controller/sender/sender_test.go
Labels: bump-version

#892 fix(contracts): Zellic 3.2 Addtional checks could be performed
  contracts/integration-test/EnforcedTxGateway.spec.ts
  contracts/integration-test/L1MessageQueue.spec.ts
  contracts/src/L1/rollup/L2GasPriceOracle.sol
  contracts/src/test/L1CustomERC20Gateway.t.sol
  contracts/src/test/L1ERC1155Gateway.t.sol
  contracts/src/test/L1ERC721Gateway.t.sol
  contracts/src/test/L1ETHGateway.t.sol
  contracts/src/test/L1GatewayTestBase.t.sol
  contracts/src/test/L1ScrollMessengerTest.t.sol
  contracts/src/test/L1StandardERC20Gateway.t.sol
  contracts/src/test/L1USDCGateway.t.sol
  contracts/src/test/L1WETHGateway.t.sol
  contracts/src/test/L2GasPriceOracle.t.sol
Labels: bug

#927 fix(contracts): OZ-M01 `L2USDCGateway` Is Missing Rate Limiter Functionality
  contracts/src/L2/gateways/usdc/L2USDCGateway.sol
Labels: bug

#929 fix(contracts): OZ-L02 Lack of `gap` Variable
  contracts/src/libraries/gateway/CCTPGatewayBase.sol
Labels: bug

#938 feat(observability):add ready&health check api for k8s
  bridge-history-api/internal/controller/batch_controller.go
  bridge-history-api/internal/controller/controller.go
  bridge-history-api/internal/controller/health_check.go
  bridge-history-api/internal/controller/history_controller.go
  bridge-history-api/internal/controller/ready.go
  bridge-history-api/internal/route/route.go
  bridge-history-api/internal/types/history_types.go
  bridge-history-api/utils/database.go
  common/database/db.go
  common/database/db_test.go
  common/observability/ginmetrics/bloom.go
  common/observability/ginmetrics/metric.go
  common/observability/ginmetrics/middleware.go
  common/observability/ginmetrics/types.go
  common/observability/middleware.go
  common/observability/probes.go
  common/observability/server.go
  common/types/errno.go
  common/types/response.go
  common/version/version.go
  coordinator/cmd/app/app.go
  coordinator/internal/controller/api/controller.go
  coordinator/internal/controller/api/get_task.go
  coordinator/internal/controller/api/health_check.go
  coordinator/internal/controller/api/submit_proof.go
  coordinator/internal/middleware/jwt.go
  coordinator/internal/route/route.go
  coordinator/internal/types/response.go
  coordinator/test/mock_prover.go
  go.work
  go.work.sum
  prover-stats-api/cmd/app/app.go
  prover-stats-api/go.mod
  prover-stats-api/go.sum
  prover-stats-api/internal/controller/auth.go
  prover-stats-api/internal/controller/prover_task.go
  prover-stats-api/internal/middleware/jwt.go
  prover-stats-api/internal/route/route.go
  prover-stats-api/internal/types/errno.go
  prover-stats-api/internal/types/response.go
  prover-stats-api/test/prover_task_test.go
  rollup/cmd/event_watcher/app/app.go
  rollup/cmd/gas_oracle/app/app.go
  rollup/cmd/rollup_relayer/app/app.go
  rollup/conf/config.json
Labels: bump-version

#940 docs(contracts): OZ-L03 Missing Docstrings
  contracts/docs/apis/ScrollChain.md
  contracts/src/L1/gateways/L1ERC20Gateway.sol
  contracts/src/L2/gateways/usdc/L2USDCGateway.sol
  contracts/src/interfaces/IMessageTransmitter.sol
  contracts/src/interfaces/ITokenMessenger.sol
  contracts/src/interfaces/IUSDCBurnableSourceBridge.sol
  contracts/src/interfaces/IUSDCDestinationBridge.sol
  contracts/src/libraries/gateway/CCTPGatewayBase.sol
  contracts/src/libraries/gateway/ScrollGatewayBase.sol
Labels: documentation

#942 feat: add `enable` to chain-monitor config
  common/version/version.go
  rollup/conf/config.json
  rollup/internal/config/relayer.go
  rollup/internal/controller/relayer/l2_relayer.go
  rollup/internal/controller/relayer/l2_relayer_test.go
Labels: bump-version

#840 fix(contracts): OZ-M01 Lack of Expiration for Retrying Transactions
  common/version/version.go
  contracts/docs/apis/L1ScrollMessenger.md
  contracts/docs/apis/L2ScrollMessenger.md
  contracts/src/L1/L1ScrollMessenger.sol
  contracts/src/L2/L2ScrollMessenger.sol
  contracts/src/test/L1CustomERC20Gateway.t.sol
  contracts/src/test/L1ERC1155Gateway.t.sol
  contracts/src/test/L1ERC721Gateway.t.sol
  contracts/src/test/L1ETHGateway.t.sol
  contracts/src/test/L1GatewayTestBase.t.sol
  contracts/src/test/L1StandardERC20Gateway.t.sol
  contracts/src/test/L1USDCGateway.t.sol
  contracts/src/test/L1WETHGateway.t.sol
  contracts/src/test/L2CustomERC20Gateway.t.sol
  contracts/src/test/L2ETHGateway.t.sol
  contracts/src/test/L2GatewayTestBase.t.sol
  contracts/src/test/L2StandardERC20Gateway.t.sol
  contracts/src/test/L2USDCGateway.t.sol
  contracts/src/test/L2WETHGateway.t.sol
Labels: bug, breaking-change, bump-version

#946 feat(coordinator): clean up challenge
  common/types/db.go
  common/version/version.go
  coordinator/internal/controller/cron/cleanup_challenge.go
  coordinator/internal/controller/cron/collect_proof.go
  coordinator/internal/orm/challenge.go
Labels: bump-version

#948 fix(libzkp): upgrade libzkp to use prover `v0.9.1`
  common/libzkp/impl/Cargo.lock
  common/libzkp/impl/Cargo.toml
  common/version/version.go
Labels: bump-version

#950 fix(coordinator): fix clean challenge bug
  common/version/version.go
  coordinator/internal/controller/cron/collect_proof.go
Labels: bump-version

#952 feat(coordinator): bump version
  common/version/version.go
  coordinator/internal/controller/cron/cleanup_challenge.go
Labels: bump-version

#846 fix(contracts): OZ-L03 Inconsistency of Allowing a Trusted Forwarder
  contracts/src/gas-swap/GasSwap.sol
Labels: bug

#954 fix(contracts): OZ-L02 Implicit Limitation of Withdrawal
  contracts/src/L2/predeploys/L2TxFeeVault.sol
  contracts/src/test/L2TxFeeVault.t.sol
Labels: bug

#955 docs(contracts): OZ-N01 Misleading Documentation
  contracts/src/L1/rollup/L1MessageQueue.sol
  contracts/src/L2/predeploys/L2TxFeeVault.sol
Labels: documentation

#953 fix(libzkp): set `StorageTrace` optional in `ChunkProof`
  common/types/message/message.go
  common/version/version.go
Labels: bump-version

#958 perf(coordinator): use optimistic lock during batch/chunk assignment
  common/version/version.go
  coordinator/internal/logic/provertask/batch_prover_task.go
  coordinator/internal/logic/provertask/chunk_prover_task.go
  coordinator/internal/orm/batch.go
  coordinator/internal/orm/chunk.go
Labels: bump-version

#960 perf(coordinator): optimize get task's optimistic lock
  common/version/version.go
  coordinator/internal/logic/provertask/batch_prover_task.go
  coordinator/internal/logic/provertask/chunk_prover_task.go
  coordinator/internal/orm/batch.go
  coordinator/internal/orm/chunk.go
Labels: bump-version

#961 perf(coordinator): optimize get_task of bad index
  common/version/version.go
  coordinator/internal/logic/provertask/batch_prover_task.go
  coordinator/internal/logic/provertask/chunk_prover_task.go
  coordinator/internal/orm/batch.go
  coordinator/internal/orm/chunk.go
Labels: bump-version

#962 perf(coordinator): optimize coordinator get task's index
  common/version/version.go
  coordinator/internal/logic/provertask/batch_prover_task.go
  coordinator/internal/logic/provertask/chunk_prover_task.go
  coordinator/internal/orm/batch.go
  coordinator/internal/orm/chunk.go
Labels: bump-version

#959 perf(bridge-history): optimize get claimable l2 sent msg query
  bridge-history-api/internal/logic/history_logic.go
  bridge-history-api/orm/l2_sent_msg.go
  bridge-history-api/orm/l2_sent_msg_test.go
  common/version/version.go
Labels: bump-version

#963 fix(coordinator): fix can't assigned failure task
  common/version/version.go
  coordinator/internal/logic/provertask/batch_prover_task.go
  coordinator/internal/logic/provertask/chunk_prover_task.go
Labels: bump-version

#965 fix(libzkp): upgrade libzkp to `v0.9.3`
  common/libzkp/impl/Cargo.lock
  common/libzkp/impl/Cargo.toml
  common/version/version.go
Labels: breaking-change, bump-version

#967 fix(bridge-history): bump version
  common/version/version.go
Labels: bump-version

#968 feat(bridge-history): add GIN metrics and separate /ready and /health endpoints to different ports
  bridge-history-api/cmd/backend_server/app/app.go
  bridge-history-api/go.mod
  bridge-history-api/go.sum
  bridge-history-api/internal/route/route.go
  bridge-history-api/observability/ginmetrics/bloom.go
  bridge-history-api/observability/ginmetrics/metric.go
  bridge-history-api/observability/ginmetrics/middleware.go
  bridge-history-api/observability/ginmetrics/types.go
  bridge-history-api/observability/middleware.go
  bridge-history-api/observability/probes.go
  bridge-history-api/observability/server.go
  common/version/version.go
Labels: bump-version

#969 fix(bridge-history): duplicated symbol and metric prefix
  bridge-history-api/internal/route/route.go
  bridge-history-api/observability/middleware.go
  bridge-history-api/observability/probes.go
  bridge-history-api/observability/server.go
  common/version/version.go
Labels: bump-version

#972 fix(bridge-history): add cache hit tracing logs
  bridge-history-api/internal/controller/history_controller.go
  bridge-history-api/internal/types/history_types.go
  common/version/version.go
Labels: bump-version

#974 feat(watcher&rollup): add block commit calldata size and commit/finalize batch revert metrics
  common/version/version.go
  rollup/internal/controller/relayer/l2_relayer.go
  rollup/internal/controller/relayer/l2_relayer_metrics.go
  rollup/internal/controller/watcher/l2_watcher.go
  rollup/internal/controller/watcher/l2_watcher_metrics.go
Labels: bump-version
