Repository scroll-tech/scroll, pull requests merged in 2023-10, with the labels that each got.

#973 fix(libzkp): upgrade libzkp to `v0.9.4`
  common/libzkp/impl/Cargo.lock
  common/libzkp/impl/Cargo.toml
  common/version/version.go
Labels: breaking-change, bump-version

#906 fix(contracts): OZ-N03 Inconsistent Usage of `msg.sender`
  contracts/src/L1/L1ScrollMessenger.sol
  contracts/src/L1/gateways/L1ERC1155Gateway.sol
  contracts/src/L1/gateways/L1ERC20Gateway.sol
  contracts/src/L1/gateways/L1ERC721Gateway.sol
  contracts/src/L1/gateways/L1ETHGateway.sol
  contracts/src/L1/gateways/L1GatewayRouter.sol
  contracts/src/L1/gateways/L1WETHGateway.sol
  contracts/src/L1/gateways/usdc/L1USDCGateway.sol
  contracts/src/L1/rollup/L1MessageQueue.sol
  contracts/src/L1/rollup/L2GasPriceOracle.sol
  contracts/src/L1/rollup/ScrollChain.sol
  contracts/src/L2/L2ScrollMessenger.sol
  contracts/src/L2/gateways/L2CustomERC20Gateway.sol
  contracts/src/L2/gateways/L2ERC1155Gateway.sol
  contracts/src/L2/gateways/L2ERC20Gateway.sol
  contracts/src/L2/gateways/L2ERC721Gateway.sol
  contracts/src/L2/gateways/L2ETHGateway.sol
  contracts/src/L2/gateways/L2GatewayRouter.sol
  contracts/src/L2/gateways/L2StandardERC20Gateway.sol
  contracts/src/L2/gateways/L2WETHGateway.sol
  contracts/src/L2/gateways/usdc/L2USDCGateway.sol
  contracts/src/L2/gateways/usdc/draft-L2USDCGatewayCCTP.sol
  contracts/src/L2/predeploys/WrappedEther.sol
  contracts/src/gas-swap/GasSwap.sol
  contracts/src/libraries/gateway/ScrollGatewayBase.sol
  contracts/src/libraries/token/ScrollStandardERC20.sol
  contracts/src/misc/ScrollOwner.sol
  contracts/src/rate-limiter/ETHRateLimiter.sol
  contracts/src/rate-limiter/TokenRateLimiter.sol
Labels: bug

#977 fix(libzkp): upgrade libzkp to `v0.9.5`
  common/libzkp/impl/Cargo.lock
  common/libzkp/impl/Cargo.toml
  common/version/version.go
Labels: breaking-change, bump-version

#980 fix(rollup-relayer): address underestimation of commitBatch gas in low-tx batches
  common/version/version.go
  rollup/internal/controller/watcher/batch_proposer.go
  rollup/internal/controller/watcher/batch_proposer_test.go
Labels: bump-version

#981 fix(rollup-relayer): better handle commit batch revert
  common/version/version.go
  rollup/internal/controller/relayer/l2_relayer.go
  rollup/internal/orm/batch.go
  rollup/internal/orm/orm_test.go
Labels: bump-version

#982 fix(rollup-relayer): better estimate commit batch gas limit
  common/types/block.go
  common/types/chunk_test.go
  common/version/version.go
  rollup/internal/controller/watcher/batch_proposer.go
  rollup/internal/controller/watcher/batch_proposer_test.go
Labels: bump-version

#983 feat(bridge-history-api): add USDC/LIDO/DAI gateways
  bridge-history-api/cmd/cross_msg_fetcher/app/app.go
  bridge-history-api/config.json
  bridge-history-api/config/config.go
  common/version/version.go
Labels: bump-version

#984 fix(gas-oracle): fetch block header
  common/version/version.go
  rollup/internal/controller/watcher/l1_watcher.go
Labels: bump-version

#989 fix(libzkp): upgrade to use prover `v0.9.7`
  common/libzkp/impl/Cargo.lock
  common/libzkp/impl/Cargo.toml
  common/version/version.go
Labels: breaking-change, bump-version

#990 fix(prover): free cgo pointers
  common/version/version.go
  prover/core/prover.go
Labels: bump-version

#994 feat(prover): add failure retry on rpc error
  common/version/version.go
  prover/client/client.go
Labels: bump-version

#995 feat: split the coordinator cron to single process
  .github/workflows/docker.yml
  build/dockerfiles/coordinator-api.Dockerfile
  build/dockerfiles/coordinator-api.Dockerfile.dockerignore
  build/dockerfiles/coordinator-cron.Dockerfile
  build/dockerfiles/coordinator-cron.Dockerfile.dockerignore
  common/utils/simulation.go
  common/version/version.go
  coordinator/Makefile
  coordinator/README.md
  coordinator/cmd/api/app/app.go
  coordinator/cmd/api/app/app_test.go
  coordinator/cmd/api/app/flags.go
  coordinator/cmd/api/app/mock_app.go
  coordinator/cmd/api/main.go
  coordinator/cmd/cron/app/app.go
  coordinator/cmd/cron/app/app_test.go
  coordinator/cmd/cron/main.go
  coordinator/cmd/main.go
  coordinator/internal/controller/cron/collect_proof.go
  tests/integration-test/integration_test.go
Labels: bump-version
