Repository scroll-tech/scroll, pull requests merged in 2024-04, with the labels that each got.

#1212 feat(libzkp): upgrade to `v0.10.0k` to support blob DA
  common/libzkp/impl/Cargo.lock
  common/libzkp/impl/Cargo.toml
  common/libzkp/impl/rust-toolchain
  common/libzkp/impl/src/batch.rs
  common/libzkp/impl/src/lib.rs
  common/types/message/message.go
  common/version/version.go
  prover/core/prover_test.go
Labels: bump-version

#1230 fix(proving): use ChunkInfo embedded inside ChunkProof for tx_bytes
  common/version/version.go
  coordinator/internal/logic/provertask/batch_prover_task.go
Labels: bump-version

#1231 chore(libzkp): upgrade to v0.10.0l, fix keccak overflow
  common/libzkp/impl/Cargo.lock
  common/libzkp/impl/Cargo.toml
  common/version/version.go
Labels: bump-version

#1228 feat(coordinator): optimize get_task sql
  common/version/version.go
  coordinator/internal/orm/batch.go
  coordinator/internal/orm/chunk.go
Labels: bump-version

#1245 chore: upgrade libzkp to v0.10.0rc3, fix sha256 rows
  common/libzkp/impl/Cargo.lock
  common/libzkp/impl/Cargo.toml
Labels: bump-version

#1252 feat(bridge-history): add puffer gateways
  bridge-history-api/internal/config/config.go
  bridge-history-api/internal/logic/l1_fetcher.go
  bridge-history-api/internal/logic/l2_fetcher.go
  common/version/version.go
Labels: bump-version

#1255 feat: update batch/chunk proving status when finalize without proof
  common/version/version.go
  rollup/internal/controller/relayer/l2_relayer.go
  rollup/internal/controller/relayer/l2_relayer_test.go
  rollup/internal/orm/chunk.go
Labels: bump-version

#1235 feat(coordinator): add new metric get_task_counter tracking prover info
  common/version/version.go
  coordinator/internal/controller/api/get_task.go
  coordinator/internal/logic/provertask/batch_prover_task.go
  coordinator/internal/logic/provertask/chunk_prover_task.go
  coordinator/internal/logic/provertask/prover_task.go
  coordinator/internal/types/metric.go
Labels: bump-version

#1257 chore(libzkp): upgrade to v0.10.2
  common/libzkp/impl/Cargo.lock
  common/libzkp/impl/Cargo.toml
  common/version/version.go
Labels: breaking-change, bump-version

#1265 fix(coordinator): fix coordinator recover public key inconsistent
  common/types/message/auth_msg.go
  common/types/message/legacy_auth_msg.go
  common/types/message/message.go
  common/version/version.go
  coordinator/internal/controller/api/auth.go
  coordinator/test/mock_prover.go
Labels: bump-version

#1267 chore(libzkp): upgrade to v0.10.3
  common/libzkp/impl/Cargo.lock
  common/libzkp/impl/Cargo.toml
  common/version/version.go
Labels: bump-version

#1264 fix: add blobHash to challenge and piHash
  common/types/encoding/codecv1/codecv1.go
  common/types/encoding/codecv1/codecv1_test.go
  common/version/version.go
  contracts/package.json
  contracts/src/L1/rollup/ScrollChain.sol
  contracts/src/test/L2USDCGateway.t.sol
Labels: breaking-change, bump-version

#1221 feat(db): add `batch_data_hash` & blob metadata
  common/version/version.go
  coordinator/internal/orm/batch.go
  coordinator/internal/orm/chunk.go
  database/migrate/migrate_test.go
  database/migrate/migrations/00017_add_blob_meta_data.sql
  rollup/internal/orm/batch.go
  rollup/internal/orm/chunk.go
  rollup/internal/utils/utils.go
  tests/integration-test/orm/batch.go
  tests/integration-test/orm/chunk.go
Labels: bump-version

#1274 fix(rollup-relayer): tweak logs
  common/version/version.go
  rollup/internal/controller/relayer/l2_relayer.go
Labels: bump-version

#1286 fix(coordinator): fix coordinator cron exit issue
  common/version/version.go
  coordinator/internal/controller/cron/cleanup_challenge.go
  coordinator/internal/controller/cron/collect_proof.go
Labels: bump-version

#1285 feat: upgrade scroll to go1.21
  .github/workflows/common.yml
  .github/workflows/coordinator.yml
  .github/workflows/docker.yml
  .github/workflows/intermediate-docker.yml
  .github/workflows/prover.yml
  build/dockerfiles/bridgehistoryapi-api.Dockerfile
  build/dockerfiles/bridgehistoryapi-db-cli.Dockerfile
  build/dockerfiles/bridgehistoryapi-fetcher.Dockerfile
  build/dockerfiles/coordinator-api.Dockerfile
  build/dockerfiles/coordinator-cron.Dockerfile
  build/dockerfiles/db_cli.Dockerfile
  build/dockerfiles/event_watcher.Dockerfile
  build/dockerfiles/gas_oracle.Dockerfile
  build/dockerfiles/intermediate/Makefile
  build/dockerfiles/intermediate/cuda-go-rust-builder.Dockerfile
  build/dockerfiles/intermediate/go-alpine-builder.Dockerfile
  build/dockerfiles/intermediate/go-rust-alpine-builder.Dockerfile
  build/dockerfiles/intermediate/go-rust-builder.Dockerfile
  build/dockerfiles/intermediate/rust-alpine-builder.Dockerfile
  build/dockerfiles/intermediate/rust-builder.Dockerfile
  build/dockerfiles/rollup_relayer.Dockerfile
  common/version/version.go
  coordinator/go.mod
  coordinator/go.sum
  coordinator/internal/logic/auth/login.go
  coordinator/internal/logic/provertask/batch_prover_task.go
  coordinator/internal/logic/provertask/chunk_prover_task.go
  coordinator/internal/logic/provertask/prover_task.go
  coordinator/internal/logic/submitproof/proof_receiver.go
Labels: bump-version

#1294 fix(db): change prover_block_list's index on public_key from non-unique to unique
  common/version/version.go
  database/migrate/migrate_test.go
  database/migrate/migrations/00020_alter_publickey_unique_prover_block.sql
Labels: bump-version

#1311 fix(batch-proposer): potential panic risk
  common/version/version.go
  rollup/internal/controller/watcher/batch_proposer.go
Labels: bug
